<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace" monitorInterval="30" >
    <Properties>
        <Property name="basePath">./logs</Property>
        <Property name="filename">./logs/file.log</Property>
        <Property name="csvLog.fileName">./logs/file.log</Property>
        <Property name="file-header">column1,column2,column3</Property>
    </Properties>
 
    <Appenders>
        <RollingFile name="fileLogger" fileName="${basePath}/rolling_file.log" filePattern="${basePath}/rolling-file-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
 
        <RollingFile name="csvFile" 
                     fileName="${csvLog.fileName}.csv"
                     filePattern="${csvLog.filename}-%d{MM-dd-yyyy}-%i.csv" >
            <CsvParameterLayout delimiter="," header="${file-header}\n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="50 MB" />
            </Policies>
            <DefaultRolloverStrategy max="200" />
        </RollingFile>
 
        <File name="MyFile" fileName="${filename}">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
 
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace" additivity="false">
            <appender-ref ref="console" level="error" />
            <appender-ref ref="fileLogger" level="debug" />
            <appender-ref ref="MyFile" level="trace" />
            <appender-ref ref="csvFile" level="info" />
        </Root>
    </Loggers>
</Configuration>